footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
  margin: 0.5rem 0 2rem;

  @media (max-width: 550px) {
    margin-bottom: 1rem;

    svg {
      width: 30px;
    }
  }
}

.index-footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  // border-top: solid 1px;
  border-color: var(project-description-color);

  p {
    color: var(project-description-color);
  }

  @media (max-width: 768px) {
    margin-top: 1.5rem;
    }
}
