.header{
    padding: 2.18rem 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.325rem;
    }
}