@import './reset.scss'; // for reseting all the HTML elements
@import './variables.scss'; // contains all the variables of the app


.app__body{
    background: #1A1818;
    color: #CFCFCF;
    display: flex;
    flex-direction: column;
    height: 100vh;

    main{
        flex: 1;
        display: flex;
        padding: 6.75rem;
        align-items: center;

        .main__basicInfo{
            h1{
                font-size: 3.4375rem;
                font-weight: 700;
            }
    
            h3{
                padding-top: 0.5rem;
                font-size: 1.875rem;
            }
        }

        .main__profileImage{
            object-fit: contain;
            left: auto !important;
            right: 18% !important;
            width: fit-content !important;
        }
    }

    .technologies{
        display: flex;
        margin-top: 0.7rem;

        .technology{
            text-transform: uppercase;
            margin-right: 1.06rem;
        }
    }
}