.blog-post{
    height: 71vh;
    max-width: 70vw;
    margin: 0 auto;
    overflow-y: scroll;

    @media (max-width: 550px){
        max-width: 80vw;
    }

    @media (max-width: 400px){
        max-width: 85vw;    
    }

    &-title, &-author, &-date{
        margin: 0;
    }

    &-author, &-date{
        color: #727272;
    }

    &-title{
        font-size: clamp(1.5rem, 1.3786rem + 0.5178vw, 2rem);
    }

    &-date{
        font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
        margin-bottom: 1.2rem;
    }

    &-image{
        width: 100%;
        height: 500px;
        object-fit: contain;

        @media (max-width: 550px){
            height: 200px;
        }
    }

    &-content{
        p{
            font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
            letter-spacing: 0.1rem;
        }
    }
}