.blog{
    height: 71vh;
    max-width: 70vw;
    margin: 0 auto;
    overflow-y: auto;

    @media (max-width: 550px){
        max-width:80vw;
        height: 75vh;
    }

    @media (max-width: 400px){
        max-width: 90vw;
    }
}