@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*::before{
    box-sizing: inherit;
}

*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Quicksand', sans-serif !important;
    margin: 0px;
}

.rsImage{
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mainSection {
    padding: 4.5rem 0rem;
    display: flex;
    align-items: center;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    padding: 10.7rem 12rem;
}

.gallerySection{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 3rem 12rem;
}

.blogSection {
    display: flex;
    flex-direction: column;
    padding: 3rem 12rem;
}

.centered{
    display: flex;
    align-items: center;
}

.pg-footer{
    height: 7vh;
    padding: 10px 25px 0px !important;
}

.right-footer{
    text-align: right;
}

.social-icons{
    margin-right: 5%;
}

.icons-hover{
    color: #000;
    text-decoration: none;
}

.icons-hover:hover{
    color: #000;
    text-decoration: none;
}

.blogPost{
    padding: 1rem 4rem 0rem;
}

.indexPageHeading{
    font-size: 50px;
}

.indexPageText{
    font-size: 25px;
}

.textGray{
    color: #929292;
}

.blog-post-container{
    display: block;
    margin: 0 10rem;
    max-width: 80rem;
    padding: 3rem 0rem 3rem;
}

.blog-post-title{
    font-weight: 600;
}

.blog-post-content{
    display: block;
    max-width: 90rem;
    margin: 0 5rem;
    padding-top: 2rem;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
}


.linkText{
    text-decoration: none;
    color: #000;
}

.linkText:hover{
    text-decoration: none;
    color: #000
}

.blogDescription{
    padding: 2rem 4rem 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.blog-image {
    width: 50rem;
    border-radius: 10px;
    display: block;
    margin: 0 auto 2rem;
}