@use "colors";

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "Prompt";
  src: url("/fonts/prompt/Prompt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  src: url("/fonts/prompt/Prompt-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  transition: 200ms ease-in-out;

  --primary-text: #000000;
  --secondary-text: #727272;
  --body-background: #efefef;
  --social-icon: #000000;
  --code-text-color: #e1e4e8;
  --project-description-color: oklch(21% 0.034 264.665);

  &.dark {
    --primary-text: #ffffff;
    --secondary-text: #727272;
    --body-background: #171717;
    --social-icon: #ffffff;
    --code-text-color: #ffffff;
    --project-description-color: oklch(87.2% 0.01 258.338);
  }
}

* {
  font-family: "Prompt", sans-serif;
  letter-spacing: 0.09em;
  color: var(--primary-text);
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background);
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#x-icon,
#github-icon,
#long-arrow-down {
  fill: var(--social-icon);
}

code {
  font-family: "Inconsolata", monospace;
  font-size: 0.875rem;

  span {
    font-family: "Inconsolata", monospace;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
