.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .my-image {
    border-radius: 50%;
    border: none;
    margin-bottom: 20px;
    object-fit: contain;

    @media (max-width: 550px) {
      width: 250px;
      height: 250px;
    }

    @media (max-width: 400px) {
      width: 200px;
      height: 200px;
    }
  }

  &-heading {
    font-size: clamp(1.5rem, 0.4063rem + 3.5vw, 2.375rem);
    padding: 0 1rem;
    text-align: center;
    margin: 0;

    .bold {
      font-weight: bold;
    }
  }

  &-subheading {
    text-align: center;
    font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.25rem);
  }

  &-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    svg {
      height: 1.875rem;
    }
  }
}

.scroll-down-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0;
  margin: 0;
  text-decoration: none;

  svg {
    animation: bounce 2000ms;
    animation-iteration-count: infinite;
  }
}

.work-section {
  width: 85%;
  height: 100vh;

  @media (max-width: 768px) {
    padding: 0;
  }

  h1 {
    text-align: center;
    margin: 5rem 0;
  }

  &-content {
    display: flex;
    gap: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .projects {
    width: 60%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
    }

    h2 {
      margin: 0 0 2rem;
    }
  }

  .open-source-contributions {
    width: 40%;

    @media (max-width: 768px) {
      width: 100%;
    }

    h3 {
      margin: 0 0 2rem;
    }

    li {
      margin-bottom: 1rem;
      transition: 300ms;

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
