---
import GlobalLayout from "../layouts/GlobalLayout.astro";

import "../styles/about.scss";
---

<GlobalLayout title="About">
  <div class="about-content">
    <p>
      I am <b>Rajvir Singh</b> from Punjab, India. I'm a Computer Science student
      from <b>Guru Nanak Dev Engineering College</b>. As a tech geek, I like to
      know stuff about technologies. It can be any anything from programming to
      latest devices. I love to share my knowledge. I have a YouTube channel
      where I like to share stuff I learn.
    </p>
    <p>
      Being a <b>Nature Lover</b>, I like to spend time in outside. I love to
      <b>travel</b> new places and talking to new people. Getting exposure about
      new places. Sometimes I also like click pictures of world living around me.
    </p>
    <p>
      <b>Fun fact: </b>It includes things as small as snowflake to as big as
      sunsets.
    </p>
  </div>
</GlobalLayout>
