---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import rajvirsingh from "../images/rajvirsingh.jpeg";

import "../styles/about.scss";
import { Image } from "astro:assets";
---

<GlobalLayout title="About">
  <div class="about-content">
    <Image
      class="about-image"
      src={rajvirsingh}
      alt="rajvirsingh"
      width="382"
      height="382"
      transition:name="image-rajvirsingh"
    />
    <p>
      Hey, I&apos;m <b>Rajvir Singh</b> — a Full Stack Developer with 3+ years of
      hands-on experience building fast, accessible, and scalable web applications.
      I specialize in JavaScript, TypeScript, React, and Node.js. I have a knack
      of creating applications and scaling them to their full performance.
    </p>
    <p>
      I&apos;ve led impactful projects like migrating large-scale e-commerce
      platforms, building custom Shopify checkout flows, and optimizing
      real-time marketplace apps. My work consistently results in performance
      boosts, improved UX, and happy users.
    </p>
    <p>
      As much as I like to work with my clients, I also like to contribute to
      open-source and give back the software development! I have contributed to
      some great repositories like git-proxy and Twenty. Other than that,
      I&apos;m also a passionate YouTuber, where I share insights about web
      development, scalable architectures, and behind-the-scenes of the dev
      world. When I&apos;m not coding, I&apos;m probably learning something new,
      refining UX flows, or exploring clean UI aesthetics.
    </p>
    <p>
      If you're looking to collaborate, build something amazing, or just geek
      out over frontend performance or Node.js patterns — I'm all ears!
    </p>
  </div>
</GlobalLayout>
