---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

import "../styles/blog.scss";

const posts = await getCollection("posts");
---

<GlobalLayout title="Blog">
  <div class="blog">
    <h1>Dev Logs, Deep Dives & Debug Tales</h1>
    {
      posts.map((post) => (
        <BlogPost
          title={post.data.title}
          slug={post.slug}
          date={post.data.date}
          content={`${post.body.substring(0, 230)}...`}
        />
      ))
    }
  </div>
</GlobalLayout>
