---
import "../styles/index.scss";
import { Image } from "astro:assets";
import rajvirsingh from "../images/rajvirsingh.jpeg";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { bondium, mazzolari, benvenuto, acNautica } from "../images/projects";
import { Github, X, Youtube, Linkedin, LongDownArrow } from "../icons";
import projects from "../../json/projects.json";
---

<GlobalLayout title="Rajvir Singh">
  <div class="hero-section">
    <Image
      class="my-image"
      src={rajvirsingh}
      alt="rajvirsingh"
      width="382"
      height="382"
      transition:name="image-rajvirsingh"
    />
    <p class="hero-section-heading">
      Hi, I&#39;m <span class="bold">Rajvir Singh</span>
    </p>
    <p class="hero-section-subheading">
      Full Stack Developer • YouTuber • React • Node.js • TypeScript Enthusiast
    </p>
    <div class="hero-section-social-icons">
      <a href="https://github.com/RajvirS99"><Github /></a>
      <a href="https://x.com/rajvirsingh_99"><X /></a>
      <a href="https://www.youtube.com/channel/UCiqNZRLlzE0I7SYyU_i87Tg"
        ><Youtube /></a
      >
      <a href="https://www.linkedin.com/in/iamrajvir/"><Linkedin /></a>
    </div>
  </div>
  <a class="scroll-down-indicator" href="#projects-and-contributions">
    <p>My Work</p>
    <LongDownArrow />
  </a>
  <div id="projects-and-contributions" class="work-section">
    <h1>My Projects & Contributions</h1>
    <div class="work-section-content">
      <div class="projects">
        <h2>Projects</h2>
        {
          projects.map(({ title, url, description }) => (
            <ProjectCard title={title} url={url} description={description} />
          ))
        }
      </div>
      <div class="open-source-contributions">
        <h3>Open Source Contributions</h3>
        <ul>
          <li>
            <a
              href="https://github.com/twentyhq/twenty/pull/10554"
              target="_blank"
              >fix: added server preconnect url improving the page load time</a
            >
          </li>
          <li>
            <a
              href="https://github.com/finos/git-proxy/pull/735"
              target="_blank"
              >fix: #669-ui/docs: clone component is undefined when running as a
              server</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</GlobalLayout>
