---
// import Icon from "./Icon.astro";
import Github from "../icons/Github.astro";
import X from "../icons/X.astro";
import Youtube from "../icons/Youtube.astro";
import Linkedin from "../icons/Linkedin.astro";
import "../styles/components/footer.scss";

const pathname = Astro.url.pathname;
---

{
  pathname === "/" ? (
    <div class="index-footer">
      <p>Rajvir Singh</p>
      <p>Made with Astro</p>
    </div>
  ) : (
    <footer>
      <a href="https://github.com/RajvirS99">
        <Github />
      </a>
      <a href="https://x.com/rajvirsingh_99">
        <X />
      </a>
      <a href="https://www.youtube.com/channel/UCiqNZRLlzE0I7SYyU_i87Tg">
        <Youtube />
      </a>
      <a href="https://www.linkedin.com/in/iamrajvir/">
        <Linkedin />
      </a>
    </footer>
  )
}
