---
import Icon from "./Icon.astro";
---

<footer>
    <a href="https://github.com/RajvirS99"><Icon name="github" /></a>
    <a href="https://x.com/rajvirsingh_99"><Icon name="x" /></a>
    <a href="https://www.youtube.com/channel/UCiqNZRLlzE0I7SYyU_i87Tg"><Icon name="youtube" /></a>
    <a href="https://www.linkedin.com/in/iamrajvir/"><Icon name="linkedin" /></a>
</footer>