---
import "../styles/components/projectCard.scss";
import { ExternalLink } from "../icons";

const { title, description, image, url } = Astro.props;
---

<div class="project-card">
  <div class="project-card-header">
    <h3>{title}</h3>
    <span
      >{
        url && (
          <a href={url}>
            <ExternalLink />
          </a>
        )
      }</span
    >
  </div>
  <p>{description}</p>
</div>
