---
import "../styles/components/projectCard.scss";

const { title, description, image, url } = Astro.props;
---

<div class="project-card">
  <img src={image.src} alt="project image" class="project-card-image" />
  {
    url ? (
      <a href={url}>
        <h4 class="project-card-title">{title}</h4>
      </a>
    ) : (
      <h4 class="project-card-title">{title}</h4>
    )
  }
</div>
