---
import DarkMode from "../icons/DarkMode.astro";
import LightMode from "../icons/LightMode.astro";
import System from "../icons/System.astro";
import '../styles/components/themeSwitcher.scss';
---

<div class="ts--wrapper">
    <button id="lightMode" class="ts--button" type="button" style="display: flex; align-items:center;"><LightMode /></button>
    <button id="darkMode" class="ts--button" type="button" style="display: flex; align-items:center;"><DarkMode /></button>
    <div id="ts-dropdown" class="ts--dropdown">
        <button type="button" id="sel-light"><LightMode />Light</button>
        <button type="button" id="sel-dark"><DarkMode />Dark</button>
        <button type="button" id="sel-system"><System />System</button>
    </div>
</div>

<script is:inline>
    const darkModeIcon = document.getElementById("darkMode");
    const lightModeIcon = document.getElementById("lightMode");

    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme') ?? "light";
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
        return 'light';
    })();
  
    if (theme === 'light') {
      document.documentElement.classList.remove('dark');
      lightModeIcon.style.display = "none";
    } else {
      document.documentElement.classList.add('dark');
      darkModeIcon.style.display = "none";
    }
  
    window.localStorage.setItem('theme', theme);
  
    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("dark");
  
      const isDark = element.classList.contains("dark");
      if (!isDark) {
        darkModeIcon.style.display = 'flex';
        lightModeIcon.style.display = 'none';
      } else {
        lightModeIcon.style.display = 'flex';
        darkModeIcon.style.display = 'none';
      }
      localStorage.setItem("theme", isDark ? "dark" : "light");
    }
  
    document.getElementById("darkMode")?.addEventListener("click", handleToggleClick);
    document.getElementById("lightMode")?.addEventListener("click", handleToggleClick);
  </script>